<div class="container mt-5">
  <h3>Pipes</h3>
  <hr>

  <h4>Enum pipe</h4>
  <p>{{one | enumAsString}}</p>
  <p>{{two | enumAsString}}</p>
  <p>{{three | enumAsString}}</p>
  <p>{{four | enumAsString}}</p>

  <hr>
  <h4>Ellipsis pipe</h4>

  <p>{{aString | ellipsis:8}}</p>
  <p>{{aString | ellipsis:24}}</p>
  <p>{{aString | ellipsis:18}}</p>
  <p>{{aString | ellipsis:59}}</p>
  
  <hr>
  <h4>Ordinal pipe</h4>

  <p>{{one | ordinalSuffix}}</p>
  <p>{{ninetyNine | ordinalSuffix}}</p>
  <p>{{eleventh | ordinalSuffix}}</p>
  <p>{{thousand | ordinalSuffix}}</p>
  <p>{{test | ordinalSuffix}}</p>
</div>
